/* 背景为白色 */
body {
    background-color: white;
}

/* 文本居中 */
.text-center {
    text-align: center;
}

/* 向上边距1em */
.margin-top-1em {
    margin-top: 1em;
}

/* 自动高度 */
.height-auto {
    height: auto;
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
    transition: all .3s;
}

.slide-fade-leave-active {
    transition: all .3s;
}

.slide-fade-enter, .slide-fade-leave-to {
    opacity: 0;
}