/* 背景为白色 */
body {
    background-color: white;
}

/* 名称显示 */
.username-display {
    color: #18b4ed;
    font-weight: bolder;
}

/* 自己的消息靠右显示 */
.from-myself {
    padding-right: 12px !important;
    text-align: right;
}

/* 类钉钉头像 */
.background-dingding {
    background-image: none;
    color: white;
    font-size: 16px;
}

/* A颜色 */
.background-A-c {
    background: #bbb;
    animation: A-change 0.5s forwards alternate;
}

@keyframes A-change {
    100% {
        background: #18b4ed;
    }
}

/* B颜色 */
.background-B-c {
    background: #18b4ed;
    animation: B-change 0.5s forwards alternate;
}

@keyframes B-change {
    100% {
        background: #bbb;
    }
}

/* 文本行高50px */
.text-line-height-50px {
    line-height: 50px;
}

/* 文本行高70px */
.text-line-height-70px {
    line-height: 70px;
}

/* 文本行高100px */
.text-line-height-100px {
    line-height: 100px;
}

/* 文本居中 */
.text-center {
    text-align: center;
}

/* 向上边距1em */
.margin-top-1em {
    margin-top: 1em;
}

/* 向上填充1em */
.padding-top-1em {
    padding-top: 1em;
}

/* 向下边距1em */
.margin-bottom-1em {
    margin-bottom: 1em;
}

/* 向上,向下边距1em */
.margin-top-bottom-1em {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* 宽度70px */
.width-70px {
    width: 70px;
}

/* 加粗 */
.font-weight-bolder {
    font-weight: bolder;
}

/* 自动高度 */
.height-auto {
    height: auto;
}

/* 滚动条 */
.overflow-auto {
    overflow: auto;
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
    transition: all .3s;
}

.slide-fade-leave-active {
    transition: all .3s;
}

.slide-fade-enter, .slide-fade-leave-to {
    opacity: 0;
}