<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>尺墨飞虹</title>
    <link rel="stylesheet" href="css/plugin/frozen.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/plugin/vant.css">
    <script src="js/plugin/axios.min.js"></script>
    <script src="js/plugin/vue.min.js"></script>
    <script src="js/plugin/vant.min.js"></script>
    <script src="js/CommonUtil.js"></script>
    <script src="js/FantasyConstant.js"></script>
    <script src="js/components/DownSlideStream.js"></script>
    <script src="js/components/PopupMenu.js"></script>
    <style>
        .diary-cell {
            padding: 16px 16px 0;
        }

        .diary-create-time {
            text-align: right;
        }

        .diary-content {
            margin-top: 8px;
            line-height: 18px;
        }
    </style>
</head>
<body>
<div id="app">
    <header class="ui-header ui-header-positive ui-border-b text-center">
        <span class="position-left username-display" @click="menuShow = true">我的菜单</span>
        <span class="position-right username-display" @click="redirectFollower">我的粉丝</span>
    </header>
    <template-down-slide-stream :distance-to-bottom="90"
                                :offset-to-bottom="100"
                                :has-been-bottom="currPage >= totalPage"
                                :loading="loading"
                                :has-data="diaryGroup && Object.keys(diaryGroup).length > 0"
                                @on-scroll-to-bottom="onScrollToBottom">
        <slot>
            <van-steps direction="vertical" active-color="#969799">
                <van-step v-for="(value, key, index) in diaryGroup" :key="index">
                    <p>{{key}}</p>
                    <div v-for="item in value" class="diary-cell" @click="updateDiary(item)">
                        <van-row>
                            <van-col :span="12" class="font-size-12px ui-txt-default">{{item.createName}}</van-col>
                            <van-col :span="12" class="diary-create-time font-size-12px">{{item.createTime}}</van-col>
                        </van-row>
                        <van-row class="diary-content ui-txt-default font-size-16px">
                            <van-col class="auto-wrap" :span="24" v-html="item.diaryContent"></van-col>
                        </van-row>
                    </div>
                </van-step>
            </van-steps>
        </slot>
    </template-down-slide-stream>

    <footer class="ui-footer ui-footer-btn">
        <ul class="ui-tiled ui-border-t">
            <li class="ui-border-r">
                <div>
                    <a href="/fantasy-oss/tian-jia-fei-hong.html">发个动态</a>
                </div>
            </li>
        </ul>
    </footer>

    <template-popup-menu :menu-show="menuShow" @on-close="menuShow = false">
        <slot>
            <button @click="redirectOlderVersion">切换至旧版本</button>
        </slot>
        <slot>
            <button @click="redirectSubscribe">我的订阅</button>
        </slot>
    </template-popup-menu>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                // 加载中
                loading: false,
                // 菜单显示
                menuShow: false,
                // 列表哦数据
                diaryGroup: {},
                // 当前页
                currPage: 1,
                // 总页数
                totalPage: 0,
                // 用户信息
                user: null,
            }
        },
        methods: {
            onScrollToBottom() {
                this.loading = true;
                // 防抖动
                commonUtil.debounce(() => {
                    // 总页数小于等于当前页,则不加载
                    if (this.totalPage <= this.currPage) {
                        this.loading = false;
                        return;
                    }
                    // 当前页+1
                    this.currPage++;
                    // 加载下一页
                    this.initDiaryList()
                }, 250);
            },
            // 初始化数据
            initDiaryList() {
                this.loading = true;
                const param = {
                    "entity": {},
                    "pageInfo": {
                        "currPage": this.currPage,
                        "pageSize": 10
                    }
                }
                // 请求
                axios({
                    method: "post",
                    url: "/fantasy-oss/api/v1/oss/diary/query.diary.group.by.date",
                    data: param
                }).then(res => {
                    // 追加到集合中
                    this.diaryGroup = Object.assign(this.diaryGroup, res.data);
                    // 获取到总页数
                    this.totalPage = commonUtil.getTotalPage(res);
                    this.loading = false;
                }).catch(res => {
                    this.loading = false;
                    if (res.data && res.data.msg) {
                        alert(res.data.msg)
                    } else {
                        alert("服务器繁忙，请稍后再试")
                    }
                })
            },
            // 更新飞虹
            updateDiary(diary) {
                // 如果不是自己的动态,则无法修改
                if (diary.createBy !== this.user.id) {
                    return;
                }
                localStorage.setItem("oss.diary.id", diary.id);
                window.location = "/fantasy-oss/xiu-gai-fei-hong.html";
            },
            // 重定向到我的粉丝
            redirectFollower() {
                window.location = "/fantasy-oss/wo-de-fen-si.html";
            },
            // 重定向到我的订阅
            redirectSubscribe() {
                window.location = "/fantasy-oss/wo-de-ding-yue.html";
            },
            // 切换至旧版本
            redirectOlderVersion() {
                window.location = "/fantasy-oss/fei-hong-lie-biao-jiu-ban-ben.html";
            }
        },
        created() {
            // 初始化数据
            this.initDiaryList();
            // 用户信息
            this.user = commonUtil.getUserInfo();
        }
    });
</script>

</html>