<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>添加纪念日</title>
    <link rel="stylesheet" href="css/plugin/frozen.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/plugin/vue.select.css"/>
    <link rel="stylesheet" href="css/plugin/vant.css">
    <script src="js/plugin/axios.min.js"></script>
    <script src="js/plugin/vue.min.js"></script>
    <script src="js/plugin/vant.min.js"></script>
    <script src="js/plugin/vue.select.js"></script>
    <script src="js/plugin/calcTextareaHeight.js"></script>
    <script src="js/CommonUtil.js"></script>
    <script src="js/FantasyConstant.js"></script>
    <style>
        .page-min-width {
            min-width: 50vw;
            max-width: 70vw;
        }
    </style>
</head>
<body>
<div id="app">
    <header class="ui-header ui-header-positive ui-border-b text-center">
        <!--<span class="font-weight-bolder font-size-20px">添加待办</span>-->
        <span class="position-right username-display" @click="redirectDayMatterList">返回</span>
    </header>
    <div class="ui-form ui-border-t ui-container">
        <ul class="ui-list ui-list-single ui-border-tb">
            <li class="ui-border-t">
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">备注</h4>
                    <textarea ref="textarea" :style="{'height': height}" v-model="matterMemo"
                              class="ui-txt-info textarea border-none" placeholder="请输入备注"></textarea>
                </div>
            </li>
            <li class="ui-border-t">
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">起始日</h4>
                    <textarea readonly style="height: 24px" v-model="matterDate" @click="popupShow = true"
                              class="ui-txt-info textarea border-none" placeholder="请选择时间"></textarea>
                </div>
            </li>
            <li class="ui-border-t">
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">提醒间隔</h4>
                    <div class="ui-txt-info">
                        <v-select class="page-min-width" v-model="matterInterval" :reduce="item => item.code"
                                  :clearable="false" :searchable="false" :options="matterIntervalOption"></v-select>
                    </div>
                </div>
            </li>
            <li class="ui-border-t">
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">提醒列表</h4>
                    <v-select class="page-min-width" placeholder="请输入姓名" :close-on-select="false"
                              v-model="matterSelectSet" :options="matterShareOption" :multiple="true"
                              @search="fetchOptions">
                        <template slot="no-options">
                            暂无数据
                        </template>
                    </v-select>
                </div>
            </li>
        </ul>
        <div class="ui-form-item ui-form-item-switch ui-border-b">
            <p>置顶</p>
            <label class="ui-switch">
                <input type="checkbox" v-model="matterTopStatus">
            </label>
        </div>
        <transition name="fade">
            <div class="ui-tooltips ui-tooltips-guide ui-tooltips-function" v-if="tips">
                <div class="ui-tooltips-cnt ui-border-b">
                    <i></i>{{tips}}
                </div>
            </div>
        </transition>
        <div class="ui-loading-wrap margin-top-1em" v-if="loading">
            <p>加载中</p>
            <i class="ui-loading"></i>
        </div>
        <div class="ui-btn-wrap" v-else>
            <button class="ui-btn-lg ui-btn-primary" @click="saveDayMatter">
                添加
            </button>
        </div>
    </div>

    <van-popup v-model="popupShow" position="bottom">
        <van-datetime-picker
                type="date"
                v-model="popupDate"
                @confirm="onPopupConfirm"
                :max-date="maxDate"
                @cancel="popupShow = false"/>
    </van-popup>
</div>
</body>
<script>
    Vue.component('v-select', VueSelect.VueSelect);

    new Vue({
        el: "#app",
        data() {
            return {
                matterMemo: null,
                matterDate: null,
                matterInterval: 0,
                matterTopStatus: false,
                // 最大日期
                maxDate: new Date(),
                // 用户下拉框选中的值
                matterSelectSet: [],
                // 用户下拉框的选项
                matterShareOption: [],
                // 当前日期
                popupDate: new Date(),
                // 显示选择时间弹窗
                popupShow: false,
                // 文本框高度
                height: '24px',
                // 提示
                tips: null,
                // 加载中
                loading: false,
            }
        },
        methods: {
            // 跳转到纪念日列表
            redirectDayMatterList() {
                // 跳转到待办列表
                window.location = "/fantasy-oss/ji-nian-ri-lie-biao.html";
            },
            // 获取文本框高度
            getHeight() {
                this.height = calcTextareaHeight(this.$refs.textarea, 1, null).height;
            },
            // 弹窗确认
            onPopupConfirm(event) {
                console.log(event);
                // 格式化
                this.matterDate = event.Format("yyyy-MM-dd");
                // 隐藏
                this.popupShow = false;
            },
            // 保存纪念日
            saveDayMatter() {
                this.loading = true;
                let param = {
                    "matterMemo": this.matterMemo,
                    "matterDate": this.matterDate,
                    "matterInterval": this.matterInterval,
                    "matterTopStatus": this.matterTopStatus ? "1" : "0",
                    "matterSelectSet": this.matterSelectSet,
                }
                // 请求接口
                axios({
                    method: "post",
                    url: "/fantasy-oss/api/v1/oss/day.matter/save",
                    data: param
                }).then(res => {
                    this.tips = res.msg;
                    this.loading = false;
                    if (!window.confirm("保存成功，是否继续添加？")) {
                        // 跳转到待办列表
                        this.redirectDayMatterList();
                    }
                }).catch(res => {
                    this.loading = false
                    if (res.data && res.data.msg) {
                        this.tips = res.data.msg;
                    } else {
                        alert("服务器繁忙，请稍后再试")
                    }
                })
            },
            // 加载选项
            fetchOptions(searchKey, loading) {
                // 空值退出
                if (!searchKey) {
                    return;
                }
                loading(true);
                commonUtil.debounce(() => {
                    let param = {
                        "username": searchKey,
                    }
                    axios({
                        method: "post",
                        url: "/fantasy-oauth2/api/v1/oauth/user/query.user.mail.vue.select.list.by.username",
                        data: param
                    }).then(res => {
                        // 获取选项
                        this.matterShareOption = commonUtil.getPageList(res);
                        loading(false);
                    }).catch(res => {
                        if (res.data && res.data.msg) {
                            this.tips = res.data.msg;
                        } else {
                            alert("服务器繁忙，请稍后再试")
                        }
                    })
                }, 500);
            },
        },
        created() {
            let userInfo = localStorage.getItem("user.info");
            // 重新登录
            if (!userInfo) {
                window.location = window.defaultRedirectUri;
                return;
            }
            userInfo = JSON.parse(userInfo);
            if (userInfo.username && userInfo.mail && userInfo.mail.indexOf("@") !== -1) {
                this.matterSelectSet.push({"label": userInfo.username, "code": userInfo.mail})
            }
            if (!userInfo.mail && userInfo.mail.indexOf("@") === -1 && window.confirm("您没有设置邮箱，无法发送提醒至邮箱。<br/>点击确定快速跳转我的信息修改邮箱。")) {
                // 保存URL
                localStorage.setItem("user.href.from", window.location.href);
                // 跳转到修改信息
                window.location = "/fantasy-oauth2/wo-de-xin-xi.html";
            }
        },
        watch: {
            matterMemo() {
                this.getHeight();
            }
        }
    });
</script>

</html>
