<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>添加飞虹</title>
    <link rel="stylesheet" href="css/plugin/frozen.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <script src="js/plugin/axios.min.js"></script>
    <script src="js/plugin/vue.min.js"></script>
    <script src="js/plugin/calcTextareaHeight.js"></script>
    <script src="js/CommonUtil.js"></script>
    <script src="js/FantasyConstant.js"></script>
    <style>
        .page-min-width {
            min-width: 50vw;
            max-width: 70vw;
        }

        .date-text {
            text-align: center;
            color: gray;
            font-size: 13px;
            margin: 5px 0;
        }
    </style>
</head>
<body>
<div id="app">
    <header class="ui-header ui-header-positive ui-border-b text-center">
        <!--<span class="font-weight-bolder font-size-20px">添加待办</span>-->
        <span class="position-right username-display" @click="redirectDiaryList">返回</span>
    </header>
    <div class="ui-form ui-border-t ui-container">
        <div class="ui-form-item ui-form-item-switch ui-border-b">
            <p>邮件提醒我的粉丝</p>
            <label class="ui-switch">
                <input type="checkbox" v-model="diaryNotice">
            </label>
        </div>
        <transition name="fade">
            <div class="ui-tooltips ui-tooltips-guide ui-tooltips-function" v-if="tips">
                <div class="ui-tooltips-cnt ui-border-b">
                    <i></i>{{tips}}
                </div>
            </div>
        </transition>
        <div class="ui-nowrap ui-whitespace date-text">
            {{currentTime}}
        </div>
        <textarea style="height: 240px" v-model="diaryContent"
                  class="ui-txt-infotextarea border-none ui-whitespace width-100p"
                  placeholder="写点什么呢"></textarea>
        <div class="ui-loading-wrap margin-top-1em" v-if="loading">
            <p>加载中</p>
            <i class="ui-loading"></i>
        </div>
        <div class="ui-btn-wrap" v-else>
            <button class="ui-btn-lg ui-btn-primary" @click="saveDiary">
                保存
            </button>
        </div>
        <div class="ui-btn-wrap" style="padding-top: 0" v-if="!loading">
            <button class="ui-btn-lg ui-btn-danger" @click="clearContent">
                清空文本
            </button>
        </div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                // 文本
                diaryContent: "",
                // 邮件提醒
                diaryNotice: false,
                // 提示
                tips: null,
                // 加载中
                loading: false,
                // 当前时间
                currentTime: new Date().Format('yyyy-MM-dd hh:mm:ss'),
            }
        },
        methods: {
            // 跳转到飞虹列表
            redirectDiaryList() {
                // 跳转到飞虹列表
                window.location = "/fantasy-oss/fei-hong-lie-biao.html";
            },
            // 更新飞虹
            updateDiary(diary) {
                localStorage.setItem("oss.diary.id", diary.id);
                window.location = "/fantasy-oss/xiu-gai-fei-hong.html";
            },
            // 清除文本
            clearContent() {
                if (window.confirm("此操作不可撤回，确认继续清空文本？")) {
                    this.diaryContent = "";
                }
            },
            // 保存飞虹
            saveDiary() {
                this.loading = true;
                let param = {
                    "diaryContent": this.diaryContent,
                    "diaryDate": new Date().Format('yyyy-MM-dd')
                }
                // 请求接口
                axios({
                    method: "post",
                    url: "/fantasy-oss/api/v1/oss/diary/save",
                    data: param
                }).then(res => {
                    this.loading = false;
                    // 提醒粉丝
                    if (this.diaryNotice) {
                        axios({
                            method: "get",
                            url: "/fantasy-oss/api/v1/oss/diary.subscribe/notify.follower"
                        })
                    }
                    if (window.confirm("保存成功，是否跳转到动态列表？")) {
                        // 跳转到动态列表
                        this.redirectDiaryList();
                        // 清除缓存
                        localStorage.removeItem("oss.diary.save.content")
                    } else {
                        setTimeout(() => {
                            // 跳转到修改飞虹
                            this.updateDiary(res.data);
                        }, 500);
                    }
                }).catch(res => {
                    this.loading = false
                    if (res.data && res.data.msg) {
                        this.tips = res.data.msg;
                    } else {
                        alert("服务器繁忙，请稍后再试")
                    }
                })
            },
            // 监听文本框的值
            diaryContentChanged(newVal, oldVal) {
                commonUtil.debounce(() => {
                    localStorage.setItem("oss.diary.save.content", newVal);
                    let date = new Date().Format('yyyy-MM-dd hh:mm:ss');
                    this.tips = `[ ${date} ] 自动保存成功`;
                }, 1000)
            }
        },
        created() {
            // 校验用户是否登录
            commonUtil.getUserInfo();
            // 如果缓存有值则设置值
            let content = localStorage.getItem("oss.diary.save.content");
            if (content) {
                this.diaryContent = content;
                this.tips = "已加载本地缓存更新记录";
            }
            setTimeout(() => {
                // 添加watch事件
                this.$watch('diaryContent', this.diaryContentChanged);
            })
            // 时钟
            setInterval(() => {
                this.currentTime = new Date().Format('yyyy-MM-dd hh:mm:ss');
            }, 1000);
        }
    });
</script>

</html>
