<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>添加待办</title>
    <link rel="stylesheet" href="css/plugin/frozen.css"/>
    <link rel="stylesheet" href="css/plugin/vue.select.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <script src="js/plugin/axios.min.js"></script>
    <script src="js/plugin/vue.min.js"></script>
    <script src="js/plugin/vue.select.js"></script>
    <script src="js/plugin/calcTextareaHeight.js"></script>
    <script src="js/CommonUtil.js"></script>
    <script src="js/FantasyConstant.js"></script>
</head>
<style>

</style>
<body>
<div id="app">
    <header class="ui-header ui-header-positive ui-border-b text-center">
        <!--<span class="font-weight-bolder font-weight-20px">添加待办</span>-->
        <span class="position-right username-display" @click="redirectTodoList">返回</span>
    </header>
    <div class="ui-form ui-border-t ui-container">
        <ul class="ui-list ui-list-single ui-border-tb">
            <li class="ui-border-t">
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">日历</h4>
                    <div class="ui-txt-info">
                        <v-select v-model="notifyCalendarType" :reduce="item => item.code" :clearable="false"
                                  :searchable="false" :options="calendarTypeOption"></v-select>
                    </div>
                </div>
            </li>
        </ul>
        <div class="ui-form-item ui-form-item-switch ui-border-b">
            <p>重复提醒</p>
            <label class="ui-switch">
                <input type="checkbox" v-model="enableRepeatNotifyMode">
            </label>
        </div>
        <ul class="ui-list ui-list-single ui-border-tb">
            <transition name="fade">
                <li class="ui-border-t" v-if="enableRepeatNotifyMode">
                    <div class="ui-list-info">
                        <h4 class="ui-nowrap">周期</h4>
                        <div class="ui-txt-info">
                            <v-select v-model="notifyType" :reduce="item => item.code" :clearable="false"
                                      :searchable="false" :options="repeatModeOption"></v-select>
                        </div>
                    </div>
                </li>
            </transition>
            <li class="ui-border-t">
                <div class="ui-list-info">
                    <h4 class="ui-nowrap"></h4>
                    <div class="ui-txt-info" v-if="notifyType < 2">
                        <v-select v-model="notifyMonth" :reduce="item => item.code" :clearable="false"
                                  :searchable="false" :options="calendarMonthOption"></v-select>
                    </div>
                    <div class="ui-txt-info" v-if="notifyType < 3">
                        <v-select v-model="notifyDay" :reduce="item => item.code" :clearable="false"
                                  :searchable="false" :options="calendarDayOption"></v-select>
                    </div>
                    <div class="ui-txt-info" v-if="notifyType === '3'">
                        <v-select v-model="notifyWeekday" :reduce="item => item.code" :clearable="false"
                                  :searchable="false" :options="weekdayOption"></v-select>
                    </div>
                    <div class="ui-txt-info">
                        <v-select v-model="notifyHour" :reduce="item => item.code" :clearable="false"
                                  :searchable="false" :options="calendarHourOption"></v-select>
                    </div>
                    <div class="ui-txt-info">
                        <v-select v-model="notifyMinute" :reduce="item => item.code" :clearable="false"
                                  :searchable="false" :options="calendarMinuteOption"></v-select>
                    </div>
                </div>
            </li>
        </ul>
        <div class="ui-form-item ui-form-item-switch ui-border-b">
            <p>懒人模式</p>
            <label class="ui-switch">
                <input type="checkbox" v-model="enableLazyMode">
            </label>
        </div>
        <ul class="ui-list ui-list-single ui-border-tb" v-if="enableLazyMode">
            <li class="ui-border-t">
                <div class="ui-list-info">
                    <h4 class="ui-nowrap"></h4>
                    <div class="ui-txt-info">
                        <v-select v-model="notifyLazyModeTimes" :reduce="item => item.code" :clearable="false"
                                  :searchable="false" :options="lazyTimesOption"></v-select>
                    </div>
                </div>
            </li>
        </ul>
        <div class="ui-form-item ui-form-item-switch ui-border-b">
            <p>置顶</p>
            <label class="ui-switch">
                <input type="checkbox" v-model="notifyTopStatus">
            </label>
        </div>
        <transition name="fade">
            <div class="ui-form-item ui-form-item-switch ui-border-b" v-if="!enableRepeatNotifyMode">
                <p>提醒后自动删除</p>
                <label class="ui-switch">
                    <input type="checkbox" v-model="notifyAfterDelete">
                </label>
            </div>
        </transition>
        <ul class="ui-list ui-list-single ui-border-tb">
            <li class="ui-border-t">
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">备注</h4>
                    <div class="ui-txt-info">
                            <textarea ref="textarea" :style="{'height': height}" v-model="notifyMemo"
                                      class="textarea border-none" placeholder="请输入备注"></textarea>
                    </div>
                </div>
            </li>
        </ul>
        <transition name="fade">
            <div class="ui-tooltips ui-tooltips-guide ui-tooltips-function" v-if="tips">
                <div class="ui-tooltips-cnt ui-border-b">
                    <i></i>{{tips}}
                </div>
            </div>
        </transition>
        <div class="ui-loading-wrap margin-top-1em" v-if="loading">
            <p>加载中</p>
            <i class="ui-loading"></i>
        </div>
        <div class="ui-btn-wrap" v-if="!loading">
            <button class="ui-btn-lg ui-btn-primary" @click="updateTodo">
                保存
            </button>
        </div>
        <div class="ui-btn-wrap" style="padding-top: 0" v-if="!loading">
            <button class="ui-btn-lg ui-btn-danger" @click="deleteTodo">
                删除当前待办
            </button>
        </div>
    </div>
</div>
</body>
<script>
    Vue.component('v-select', VueSelect.VueSelect);

    const vm = new Vue({
        el: "#app",
        data() {
            return {
                id: null,
                notifyCalendarType: "1",
                enableRepeatNotifyMode: false,
                notifyType: "0",
                notifyMonth: null,
                notifyDay: null,
                notifyWeekday: null,
                notifyHour: null,
                notifyMinute: null,
                enableLazyMode: false,
                notifyLazyModeTimes: "0",
                notifyMemo: null,
                notifyTopStatus: false,
                notifyAfterDelete: false,
                height: '24px',
                tips: null,
                loading: false,
            }
        },
        methods: {
            // 跳转到待办列表
            redirectTodoList() {
                // 跳转到待办列表
                window.location = "/fantasy-oss/dai-ban-lie-biao.html";
            },
            // 获取文本框高度
            getHeight() {
                this.height = calcTextareaHeight(this.$refs.textarea, 1, null).height;
            },
            // 初始化待办信息
            initTodo() {
                this.loading = true;
                // 请求接口
                axios({
                    method: "get",
                    url: "/fantasy-oss/api/v1/oss/todo.notify/info/" + this.id,
                }).then(res => {
                    this.loading = false;
                    this.notifyCalendarType = res.data.notifyCalendarType;
                    this.enableRepeatNotifyMode = res.data.notifyType > 0;
                    this.notifyType = res.data.notifyType;
                    this.notifyMonth = res.data.notifyMonth;
                    this.notifyDay = res.data.notifyDay;
                    this.notifyWeekday = res.data.notifyWeekday;
                    this.notifyHour = res.data.notifyHour;
                    this.notifyMinute = res.data.notifyMinute;
                    this.enableLazyMode = res.data.notifyLazyModeTimes > 0;
                    this.notifyLazyModeTimes = res.data.notifyLazyModeTimes;
                    this.notifyMemo = res.data.notifyMemo;
                    this.notifyTopStatus = res.data.notifyTopStatus === "1";
                    this.notifyAfterDelete = res.data.notifyAfterDelete === "1";
                    // 初始化备注高度
                    setTimeout(() => {
                        this.getHeight();
                    })
                }).catch(res => {
                    this.loading = false
                    if (res.data && res.data.msg) {
                        this.tips = res.data.msg;
                    } else {
                        alert("服务器繁忙，请稍后再试")
                    }
                })
            },
            // 更新待办
            updateTodo() {
                this.loading = true;
                let param = {
                    "id": this.id,
                    "notifyCalendarType": this.notifyCalendarType,
                    "notifyType": this.notifyType,
                    "notifyMonth": this.notifyMonth,
                    "notifyDay": this.notifyDay,
                    "notifyWeekday": this.notifyWeekday,
                    "notifyHour": this.notifyHour,
                    "notifyMinute": this.notifyMinute,
                    "notifyLazyModeTimes": this.notifyLazyModeTimes,
                    "notifyMemo": this.notifyMemo,
                    "notifyTopStatus": this.notifyTopStatus ? "1" : "0",
                    "notifyAfterDelete": this.notifyAfterDelete ? "1" : "0",
                }
                // 请求接口
                axios({
                    method: "post",
                    url: "/fantasy-oss/api/v1/oss/todo.notify/update",
                    data: param
                }).then(res => {
                    this.tips = res.msg;
                    this.loading = false;
                }).catch(res => {
                    this.loading = false
                    if (res.data && res.data.msg) {
                        this.tips = res.data.msg;
                    } else {
                        alert("服务器繁忙，请稍后再试")
                    }
                })
            },
            // 删除待办
            deleteTodo() {
                // 确认删除
                if (!window.confirm("确认删除当前待办事项吗?")) {
                    return;
                }
                this.loading = true;
                // 请求接口
                axios({
                    method: "post",
                    url: "/fantasy-oss/api/v1/oss/todo.notify/delete",
                    data: [this.id]
                }).then(res => {
                    // 跳转回列表
                    this.redirectTodoList();
                }).catch(res => {
                    this.loading = false
                    if (res.data && res.data.msg) {
                        this.tips = res.data.msg;
                    } else {
                        alert("服务器繁忙，请稍后再试")
                    }
                })
            }
        },
        created() {
            // 从缓存中获取ID
            this.id = localStorage.getItem("oss.todo.notify.id");
            // 初始化待办
            this.initTodo()
        },
        watch: {
            enableRepeatNotifyMode(newVal, oldVal) {
                if (newVal === false) {
                    this.notifyType = "0";
                }
                if (newVal === true) {
                    this.notifyType = "1";
                }
                // 每次更改提醒后删除都重置为false
                this.notifyAfterDelete = false;
            },
            enableLazyMode(newVal, oldVal) {
                if (newVal === false) {
                    this.notifyLazyModeTimes = "0";
                }
                if (newVal === true) {
                    this.notifyLazyModeTimes = window.lazyTimesOption[0].code;
                }
            },
            notifyType(newVal, oldVal) {
                if (newVal === '3') {
                    this.notifyWeekday = window.weekdayOption[0].code;
                } else {
                    this.notifyWeekday = null;
                }
            },
            notifyMemo() {
                this.getHeight();
            }
        }
    });
</script>

</html>
