<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>房间列表</title>
    <link rel="stylesheet" href="css/plugin/frozen.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <script src="js/plugin/axios.min.js"></script>
    <script src="js/plugin/vue.min.js"></script>
    <script src="js/CommonUtil.js"></script>
</head>
<style>

</style>
<body>
<div id="app">
    <header class="ui-header ui-header-positive ui-border-b text-center">
        <span class="position-left username-display">我的信息</span>
        <span class="font-weight-bolder font-weight-20px">斗也斗得</span>
        <a class="position-right username-display" href="/fantasy-card/li-shi-ji-lu.html">历史记录</a>
    </header>
    <div class="ui-form ui-border-t ui-container">
        <div class="ui-searchbar-wrap ui-border-b" v-bind:class="{'focus': searchBar}">
            <div class="ui-searchbar ui-border-radius" @click="changeSearchBar(true)">
                <i class="ui-icon-search"></i>
                <div class="ui-searchbar-text">搜索房间号或者用户名</div>
                <div class="ui-searchbar-input">
                    <input v-model="searchKeyword" type="text" placeholder="搜索房间号或者用户名"
                           ref="searchInput" autocapitalize="off">
                </div>
                <i class="ui-icon-close" v-on:click.stop="changeSearchBar(false)"></i>
            </div>
            <button class="ui-searchbar-cancel" @click="initRoomList">确认</button>
        </div>
        <ul class="ui-list ui-list-function ui-border-tb">
            <li v-for="room in roomList">
                <div class="ui-list-info ui-border-t">
                    <h4 class="ui-nowrap" v-html="room.name"></h4>
                </div>
                <div class="ui-btn" @click="joinRoom(room)">加入</div>
            </li>
        </ul>
        <section class="ui-notice margin-top-1em" v-if="!loading && roomList.length === 0">
            <i></i>
            <p>暂无房间</p>
        </section>
        <div class="ui-loading-wrap margin-top-1em" v-if="loading">
            <p>加载中</p>
            <i class="ui-loading"></i>
        </div>
    </div>
    <transition name="slide-fade">
        <div class="ui-dialog show" v-if="existRoom" v-on:click.stop="existRoom = null">
            <div class="ui-dialog-cnt">
                <div class="ui-dialog-bd">
                    <h3>房间已经存在</h3>
                    <p>你于{{existRoom.createTime}}创建了房间
                        <br/>重新开房请选择关闭房间</p>
                </div>
                <div class="ui-dialog-ft">
                    <button type="button" class="ui-txt-red" v-on:click.stop="closeRoom(existRoom.id)"> 关闭房间
                    </button>
                    <button type="button" class="btn-recommand username-display"
                            v-on:click.stop="joinRoom(existRoom)">继续加入
                    </button>
                </div>
            </div>
        </div>
    </transition>
    <footer class="ui-footer ui-footer-btn">
        <ul class="ui-tiled ui-border-t">
            <li @click="createRoom" class="ui-border-r">
                <div>创建房间</div>
            </li>
        </ul>
    </footer>
</div>
</body>
<script>
    const vm = new Vue({
        el: "#app",
        data: {
            // 加载中
            loading: false,
            // 搜索框
            searchBar: false,
            // 搜索关键字
            searchKeyword: null,
            // 房间列表
            roomList: [],
            // 已存在房间
            existRoom: null
        },
        methods: {
            // 加载房间列表
            initRoomList() {
                this.loading = true;
                const param = {
                    "entity": {
                        "name": this.searchKeyword
                    },
                    "pageInfo": {
                        "currPage": 1,
                        "pageSize": 20
                    }
                }
                // 请求
                axios({
                    method: "post",
                    url: "/fantasy-card/api/v1/card/room/list",
                    data: param
                }).then(res => {
                    this.loading = false;
                    this.roomList = commonUtil.getPageList(res);
                }).catch(res => {
                    this.loading = false;
                    if (res.data && res.data.msg) {
                        alert(res.data.msg)
                    } else {
                        alert("服务器繁忙,请稍后再试")
                    }
                })
            },
            // 加入房间
            joinRoom(room) {
                // 房间ID
                localStorage.setItem("user.room.id", room.id);
                // 房间号
                localStorage.setItem("user.room.code", room.code);
                // 跳转地址
                window.location = "/fantasy-card/qi-pai-ji-fen.html";
            },
            // 更改搜索框
            changeSearchBar(bool) {
                // 设置搜索框状态
                this.searchBar = bool;
                // 获取焦点
                this.$nextTick(() => {
                    this.$refs.searchInput.focus();
                })
            },
            // 创建房间
            createRoom() {
                // 请求
                axios({
                    method: "post",
                    url: "/fantasy-card/api/v1/card/room/save",
                }).then(res => {
                    // 加入房间
                    this.joinRoom(res.data);
                }).catch(res => {
                    // 已存在房间
                    if (res.data.state === 1205) {
                        this.existRoom = res.data.data;
                        return;
                    }
                    if (res.data && res.data.msg) {
                        alert(res.data.msg)
                    } else {
                        alert("服务器繁忙,请稍后再试")
                    }
                })
            },
            // 关闭房间
            closeRoom(roomId) {
                const param = [roomId];
                // 请求
                axios({
                    method: "post",
                    url: "/fantasy-card/api/v1/card/room/delete",
                    data: param
                }).then(res => {
                    // 关闭弹窗
                    this.existRoom = null;
                    // 重新查询房间
                    this.initRoomList();
                }).catch(res => {
                    if (res.data && res.data.msg) {
                        alert(res.data.msg)
                    } else {
                        alert("服务器繁忙,请稍后再试")
                    }
                })
            }
        },
        created() {
            // 加载房间列表
            this.initRoomList();
        }
    });
</script>

</html>
