<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>Fantasy-登录</title>
    <link rel="stylesheet" href="css/plugin/frozen.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <script src="js/plugin/axios.min.js"></script>
    <script src="js/plugin/vue.min.js"></script>
    <script src="js/CommonUtil.js"></script>
    <script src="js/FantasyConstant.js"></script>
    <script src="js/components/PopupMenu.js"></script>
</head>
<style>
    .ui-img-vertical {
        padding-top: 100%;
    }
</style>
<body>
<div id="app">
    <header class="ui-header ui-header-positive ui-border-b text-center">
        <span class="position-left username-display" @click="menuShow = true">我的菜单</span>
        <span class="font-weight-bolder font-weight-20px">Fantasy</span>
    </header>
    <div class="ui-form ui-border-t ui-container">
        <div class="ui-grid ui-grid-trisect">
            <ul class="ui-border-b ui-whitespace">
                <li v-for="client in clientList" @click="redirectClientIndex(client.indexUri)"
                    v-if="!hideList.includes(client.clientKey)">
                    <div class="ui-img-vertical">
                        <span :style="{backgroundImage:'url('+client.clientHeader+')'}"></span>
                    </div>
                    <div class="ui-grid-info text-center margin-bottom-1em">
                        <span class="font-weight-bolder">{{client.clientName}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <template-popup-menu :menu-show="menuShow" @on-close="menuShow = false"></template-popup-menu>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                // 菜单显示
                menuShow: false,
                // 客户端列表
                clientList: [],
                // 需要隐藏的客户端
                hideList: [clientKey],
            }
        },
        methods: {
            // 跳转到客户端首页
            redirectClientIndex(indexUri) {
                // 跳转
                window.location = (indexUri.startsWith("http") ? "" : gateway) + indexUri;
            }
        },
        created() {
            // 获取用户客户端
            let userInfo = localStorage.getItem("user.info");
            if (userInfo) {
                userInfo = JSON.parse(userInfo);
                this.clientList = userInfo.clientList;
            }
        }
    });
</script>

</html>
