<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <title>历史记录</title>
    <link rel="stylesheet" href="css/plugin/frozen.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <script src="js/plugin/axios.min.js"></script>
    <script src="js/plugin/vue.min.js"></script>
    <script src="js/CommonUtil.js"></script>
    <script src="js/FantasyConstant.js"></script>
    <script src="js/components/DownSlideStream.js"></script>
</head>
<style>

</style>
<body>
<div id="app">
    <header class="ui-header ui-header-positive ui-border-b text-center">
        <span class="font-weight-bolder font-size-20px">历史记录</span>
        <a class="position-right username-display" href="/fantasy-chess/fang-jian-lie-biao.html">返回</a>
    </header>

    <template-down-slide-stream :distance-to-bottom="0"
                                :loading="loading"
                                :has-data="roomHistoryList && roomHistoryList.length > 0"
                                @on-scroll-to-bottom="onScrollToBottom">
        <slot>
            <ul class="ui-list ui-list-function ui-border-tb">
                <li v-for="roomHistory in roomHistoryList">
                    <ul class="ui-list ui-list-function ui-border-tb">
                        <li>
                            <div class="ui-list-info ui-border-t">
                                <h4 class="ui-nowrap" v-html="roomHistory.roomName">}</h4>
                                <p>{{roomHistory.createTime}}</p>
                            </div>
                            <div class="ui-btn" @click="checkHistoryRoom(roomHistory)">查看</div>
                        </li>
                    </ul>
                </li>
            </ul>
        </slot>
    </template-down-slide-stream>

    <transition name="fade">
        <div class="ui-dialog show" v-if="historyRoom">
            <div class="ui-dialog-cnt">
                <div class="ui-dialog-bd">
                    <h3>结算榜单</h3>
                    <ul class="ui-list ui-list-single ui-border-tb">
                        <li class="ui-border-t" v-for="player in historyRoom.playerStatusSet">
                            <div class="ui-list-info">
                                <h4 class="ui-nowrap" v-html="player.playerName"></h4>
                                <div class="ui-txt-info">{{player.playerScore}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ui-dialog-ft">
                    <button type="button" @click="historyRoom = null">确定</button>
                </div>
            </div>
        </div>
    </transition>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                // 当前页
                currPage: 1,
                // 总页数
                totalPage: 0,
                // 加载中
                loading: false,
                // 房间列表
                roomHistoryList: [],
                // 需要查看的历史房间
                historyRoom: null,
            }
        },
        methods: {
            // 加载房间列表
            initRoomHistoryList() {
                this.loading = true;
                const param = {
                    "pageInfo": {
                        "currPage": this.currPage,
                        "pageSize": 10
                    }
                }
                // 请求
                axios({
                    method: "post",
                    url: "/fantasy-chess/api/v1/chess/room.history/list",
                    data: param
                }).then(res => {
                    // 追加到集合中
                    this.roomHistoryList = this.roomHistoryList.concat(commonUtil.getPageList(res));
                    // 获取到总页数
                    this.totalPage = commonUtil.getTotalPage(res);
                    this.loading = false;
                }).catch(res => {
                    this.loading = false;
                    if (res.data && res.data.msg) {
                        alert(res.data.msg)
                    } else {
                        alert("服务器繁忙，请稍后再试")
                    }
                })
            },
            // 点击查看按钮
            checkHistoryRoom(item) {
                this.historyRoom = item;
            },
            // 滚动到底部
            onScrollToBottom() {
                // 如果总页数小于当前页,则不加载
                if (this.loading === false && this.totalPage <= this.currPage) {
                    return;
                }
                // 当前页+1
                this.currPage++;
                // 加载下一页
                this.initRoomHistoryList();
            }
        },
        created() {
            // 加载房间列表
            this.initRoomHistoryList();
        }
    });
</script>

</html>
